@model CapModel.JobSeeker
@*Main Author Name: Kulpreet Kaur
    Description of Page:Show all the details of the job seeker based on ID *@
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>JobSeeker</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SkillSummary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkillSummary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visibility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visibility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.AptNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.AptNum)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JSId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
